{{ define "title" }}SubTracker{{ end }}

{{ define "content" }}
{{ if .IsLoggedIn }}
<div class="form">
  <div class="title">Welcome</div>
  <div class="subtitle">Add your subscription!</div>
  <div class="input-container ic1">
    <input id="name" class="input" type="text" placeholder="Name?" />
  </div>
  <div class="input-container ic2">
    <input id="first-payment" class="input" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Start date?"/>
  </div>
  <div class="input-container ic2">
    <select id="periods" class="input">
      <option disabled="disabled" selected="true">Billing period?</option>
      <option>Monthly</option>
      <option>Quartely</option>
      <option>Annually</option>
    </select>
  </div>  
  <div class="input-container ic2">
    <input id="cost" class="input" type="number" placeholder="Cost?" step="0.01"/>
  </div>
  <button type="text" class="submit">Add!</button>
</div>
{{ else }}

{{ end }}
{{ end }}

{{ template "layout.html" . }}