<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta http-equiv="refresh" content="10">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/design.css">
        <title>SubTracker</title>
    </head>
    <body>
      <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Add your subscription!</div>
        <div class="input-container ic1">
          <input id="name" class="input" type="text" placeholder="Name?" />
        </div>
        <div class="input-container ic2">
          <input id="first-payment" class="input" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Start date?"/>
        </div>
        <div class="input-container ic2">
          <select id="periods" class="input">
            <option disabled="disabled" selected="true">Billing period?</option>
            <option>Monthly</option>
            <option>Quartely</option>
            <option>Annually</option>
          </select>
        </div>  
        <div class="input-container ic2">
          <input id="cost" class="input" type="number" placeholder="Cost?" step="0.01"/>
        </div>
        <button type="text" class="submit">Add!</button>
      </div>
    </body>
</html>

