<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta http-equiv="refresh" content="10">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/subform.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/navbar.css">
        <title>Login</title>
    </head>
    <body>
        
        <nav class="navbar">
            <div class="home">
                <a href="/">SubTracker</a>
            </div>
            <ul id="nav" class="nav-list">
                <li class="list-item"> <a class="active" href="/login">Login</a> </li>
                <li class="list-item"> <a href="/register">Register</a></li>
            </ul>
          </nav>

          <div class="form" id="login-form">
            <div class="title">Login</div>
            <div class="input-container ic1">
                <input id="username" class="input" type="text" placeholder="Username" />
              </div>
              <div class="input-container ic2">
                <input id="password" class="input" type="text" placeholder="Password"/>
              </div>
            <button type="text" class="submit" id="login-button">Login!</button>
          </div>

    </body>
</html>

