<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta http-equiv="refresh" content="10">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/subform.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/navbar.css">
        <title>Register</title>
    </head>
    <body>
        
        <nav class="navbar">
            <div class="home">
                <a href="/">SubTracker</a>
            </div>
            <ul id="nav" class="nav-list">
                <li class="list-item"> <a href="/login">Login</a> </li>
                <li class="list-item"> <a class="active" href="/register">Register</a></li>
            </ul>
          </nav>

    </body>
</html>

